.sectionTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 56px 200px 32px;
    font-size: var(--font-size-xxxxl);
    font-weight: var(--fw-bold);
}

.sectionTitleButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-4);
    color: var(--primary-color);
}



/* Responsive Layout */


/* =================================================
   RESPONSIVE
================================================= */

@media (max-width: 480px) {

    .sectionTitleContainer {
        padding: 24px 24px 16px;
        font-size: var(--font-size-xl);
    }

    .sectionTitleButton {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1366px) {

    .sectionTitleContainer {
        padding: 24px 72px;
        font-size: var(--font-size-xxxl);
    }
}